.project-preview {
    img {
        background-color: gray;
    }
    > a {
        h2, h3 {
            padding-right: 15px;
            padding-left: 15px;
        }
        h2 {
            font-size: 32px !important;
        }
        h3 {
            font-size: 24px !important;
        }
    }
    .project-buttons {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
    }
    .btn {
        color: white;
        width: 130px;
        &:hover {
            color: white;
        }
    }
}