.project-preview {
    img {
        background-color: gray;
    }
    > a {
        h2, h3 {
            padding-right: 15px;
            padding-left: 15px;
        }
        h2 {
            font-size: 32px !important;
        }
        h3 {
            font-size: 24px !important;
        }
    }
    .skills {
        padding-right: 15px;
        padding-left: 15px;
    }
    .project-buttons {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        padding-right: 15px;
        padding-left: 15px;
    }
    .btn {
        color: white !important;
        width: 130px;
        &:hover {
            color: white !important;
        }
    }
}

.logo {
    margin-right:5px;
    transform: translateY(-1px);
     @media only screen and (min-width: 992px) {
        filter: invert(92%) sepia(97%) saturate(6912%) hue-rotate(183deg) brightness(122%) contrast(99%);
    }
    
}

.social-media-container {
    @media only screen and (min-width: 768px) {
        border-right: solid 1px lightgray;
    }
}

.resume-container {
    text-align: center;
    padding-top: 20px;
    padding-bottom : 20px;
    @media only screen and (min-width: 768px) {
        padding-top: 0px;
        padding-bottom : 0px;
        position: relative;
        a {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }
}